@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dokdo&family=Gugi&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@500&family=Stylish&display=swap');

body {
  background-color: whitesmoke;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.box {
  font-size: 40px;
  cursor: pointer;
  color: black;
  margin-bottom: 45px;
  position: fixed;
  text-align: center;
}

.btn {
  background: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  position: relative;
  bottom: 400px;
  margin-left: -18px;
  position: fixed;
  cursor: pointer;
  color: grey;
  transition: 0.5s;
}

.btn::before {
  content: '';
  position: absolute;
  top: -55%;
  left: -12px;
  background: black;
  width: 150px;
  height: 4px;
}

.btn:hover {
  color: black;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.copywindow {
  position: relative;
  width: 500px;
  height: 50px;
  background: white;
  top: -800px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  box-shadow: 3px 5px 5px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 1s ease;
}

.copyContent {
  width: 350px;
  height: 30px;
  background-color: #f1f1f1;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  overflow-x: scroll;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #53c31b;
  border-radius: 50%;
  position: relative;
}

.circle::before,
.circle::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  width: 10px;
  transform-origin: left top;
}

.circle::before {
  top: 14px;
  left: 8px;
  transform: rotate(-45deg);
}

.circle::after {
  left: 9px;
  top: 15px;
  width: 7px;
  transform: rotate(-135deg);
}
.moveKoreanBtn {
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  bottom: 100px;
  color: grey;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
}
